ENV_LOADED=true
DATABASE_URL=
DB_ECHO=
JWT_SECRET_KEY=
SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
TURNSTILE_SECRET_KEY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_B64=
