fastapi
uvicorn
sqlalchemy
psycopg
pydantic
pydantic-settings
python-dotenv
pyjwt
passlib
argon2-cffi
python-multipart
asyncpg
email-validator
aiosqlite
httpx
resend
google-auth
google-auth-httplib2
google-auth-oauthlib
google-api-python-client
slowapi